<%= form_with(model: [@category, @post], local: true, :html => {  
  multipart: true }) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class='form-group col-md-8'>
      <h3><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h3>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-8">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title, class: 'form-control' %>
  </div>

  <div class="form-group col-md-8">
    <%= form.label :description %>
    <%= form.text_area :description, id: :post_description, class: 'tinymce' %>
  </div>

  <div class="form-group col-md-8">
    <%= form.label :address %>
    <%= form.text_field :address, id: :post_address, class: 'form-control' %>
  </div>

  <div class="form-group col-md-8">
    <%= form.label "Price (Rs)" %>
    <%= form.text_field :price, id: :post_price, class: 'form-control' %>
  </div>

  <div class="form-group col-md-8">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number, id: :post_contact_number, class: 'form-control' %>
  </div>

  <div class="form-group col-md-8">
    <%= form.label :pictures %>
    <div>
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>

  <div class="form-group col-md-8">
    <% @pictures&.each do |photo| %>
      <span class="wrapper">       
         <%= link_to category_post_delete_photo_path(post.category, post, photo), method: :delete, 
                  data: { confirm: 'Are you sure?' }, class: "img-link" do %>
          <i class='glyphicon glyphicon-remove'  data-toggle='tooltip' 
              data-placement='left' title='Delete'></i>
           <%= image_tag photo.image.url, size: '200x150' %>
          <% end %>
      </span>
    <% end %>
  </div>

  <div class="form-group col-md-8">
    <%= form.submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>
<%= tinymce %>
