<p id="notice"><%= notice %></p>
<%= paginate @posts %>
<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Price</th>
      <th>Contact number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to "#{post.title}", category_post_path(post.category, post) %>
        </td>
        <td><%= post.description %></td>
        <td><%= post.address %></td>
        <td><%= post.price %></td>
        <td><%= post.contact_number %></td>
        <td><%= post.user.email %></td>
        <td><%= link_to 'Edit', edit_category_post_path(post.category, post) if policy(post).edit? %>
        </td>
        <td><%= link_to 'Destroy', category_post_path(post.category, post), 
        method: :delete, data: { confirm: 'Are you sure?' } if policy(post).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if @category %>
  <%= link_to 'New Post', new_category_post_path(@category) %>
<% else %>
  <%= link_to 'Select Category', categories_path %>
<% end %>
