<p id="notice"><%= notice %></p>

<div class="container">
<% if @category %>
  <%= link_to 'New Post', new_category_post_path(@category) %>
<% else %>
  <%= link_to 'Select Category', categories_path %>
<% end %>

<h1><%= @category.name if @category %></h1>
  <div class="list-group">
    <% @posts.each do |post| %>
      <div class="list-group-item">     
        <h2><%= link_to "#{post.title}", category_post_path(post.category, post) %></h2>
        <p><%= post.description %></p>
        <p><%= post.address %></p>
        <p>Monthly Rent: <%= post.price %></p>
        <p>Contact Number: <%= post.contact_number %></p>
        <p>Email: <%= post.user.email %></p>
        <p><%= link_to 'Edit', edit_category_post_path(post.category, post) if policy(post).edit? %> | 
        <%= link_to 'Destroy', category_post_path(post.category, post), 
        method: :delete, data: { confirm: 'Are you sure?' } if policy(post).destroy? %>
        </p>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>



 </div>
