<p>
  <strong><%= @post.title %></strong>
</p>

<p>
  <i><%= @post.address %></i>
</p>

<p>
  <strong>Description:</strong>
</p>

<p>
  <%= @post.description %>
</p>

<p>
  <strong><%= price_text(@category) %>:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @post.contact_number %>
</p>

<%= link_to 'Edit', edit_category_post_path(@category, @post) if policy(@post).edit? %>
<%= link_to 'Back', category_posts_path(@category) %>
<hr/>
<%= render 'comments/form' %>
<%= render 'comments/comments' %>
